<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="ddFunctionXLL" Manufacturer="theangkko" Version="1.0.0.0" UpgradeCode="7301c1ff-6794-420a-a872-8073f4adc03e" >
    <!--Name="..." Version="..." Manufacturer="..." UpgradeCode="..." Copyright="..." IconSourceFile="..." AboutUrl="...">-->

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="Resources\EULA.rtf" LogoFile="Resources\Icon.ico" Theme="rtfLicense" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="ExcelAddinMSIpackage.msi" />
    </Chain>

  </Bundle>
</Wix>
